/*----------Home File---------*/
.home-page-main-container {
  background-image: url(../../assets/images/backgroundImg.jpg);
  width: 100vmax;
  height: 100vh;
  opacity: 2000;
}
.signUp-login-btn {
  color: rgb(48, 45, 45);
  font-size: x-large;
}
.signUp-login-btn:hover{
  color: rgb(238, 18, 194);
}
.home-page-searchbar-container {
  margin-top: 5.5em;
}
.zomato-img {
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 17%;
}
.search-bar-title {
  text-align: center;
  color: rgb(77, 74, 74);
  margin-top: 0.5em;
}

.home-page-searchbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 1.5em;
}
.search-bar-input-field {
  width: 33%;
  height: 2.5em;
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  padding-left: 1em;
}
.srch-btn {
  background-color: red;
  color: white;
  text-decoration: none;
}

/*-------------Signup && Login File ----------*/
.form {
  margin-top: 30px;
  margin-left: 550px;
  margin-right: 550px;
  border: solid 1px;
  border-radius: 25px;
}
.head {
  text-align: center;
  color: rgb(37, 34, 34);
}

#button {
  color: rgba(0, 0, 0, 0.877);
}
.forgot-password-text {
  width: 100%;
  align-content: flex-end;
  display: flex;
  flex-direction: row;
  margin-left: 45%;
  margin-top: 1%;
  gap: 10px;
}

/*----------Cart_Item File---------------*/
#cart_det {
  margin-top: 10px;
  width: 830px;

  margin-bottom: 10px;
  box-sizing: border-box;
}

/*-------------Cart Fille ---------------*/
#full {
  width: 1530px;
  height: 700px;
  background-color: sandybrown;
}
#cart_border {
  margin-top: 10px;
  width: 850px;
  background-color: seashell;
}
#ab {
  margin-left: 330px;
}

#place_order {
  margin-left: 320px;
}
.p_o {
  color: rgb(211, 24, 17);
}
#ce {
  margin-top: 200px;
  margin-left: 350px;
}
#c_e {
  color: green;
}
