#navbar{
    background-image: none;
    
}
#rest_row1{
    background-color:red;
}
#z{
    color: white;
    margin-left: 200px;
}

#centre{
        margin: 0 auto;
        margin-top: 10px;
        margin-left: 100px;
     }
     
.sch{
         color:black;
        
 }
 .log_in{
        color: white;
        margin-top: 8px;
 }

 /*----------Restaurant File-----------*/
 #cart_icon{
     width: 30px;
     height: 30px;
 }
 #cart_item{
     color:blueviolet;
     width: 2px;
     height: 2px;
 }
 #a{
     height: 5px;
 }
 #cart_row{
     background-color: rgb(245, 240, 245);
 }
.c{
    color: black;
}
 /*------------Pizza File -----------------*/
 #item_name{
     color : red;
 }