#navbar {
  background-image: none;
}
#rest_row1 {
  background-color: red;
}
#z {
  color: white;
  margin-left: 200px;
}

#centre {
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 100px;
}

.sch {
  color: black;
}
.logout {
  color: white;
  margin-top: 8px;
}
.new_acount {
  color: white;
  margin-top: 8px;
}
.user {
  color: white;
  margin-top: 8px;
}
/*----------Restaurant File-----------*/
#product-card {
  border-radius: 20px;
}
#product-card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.img-wrap {
  border-radius: 20px;
}
#cart_icon {
  width: 30px;
  height: 30px;
}
#cart_item {
  color: blueviolet;
  width: 2px;
  height: 2px;
}
#a {
  height: 5px;
}
#cart_row {
  background-color: rgb(245, 240, 245);
}
.c {
  color: black;
}
/*------------Pizza File -----------------*/
#item_name {
  color: red;
  padding: 0.1em 0.3em;
}
.item_desc {
  padding: 0.1em 0.3em;
}
.item_location {
  padding: 0.1em 0.3em;
}
#item_price {
  padding: 0.1em 0.3em;
}
